<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet" type="text/css">        
		<style type="text/css">
			#report_chart {height:200px;width:450px;overflow-x:hidden;overflow-y:hidden;overflow-y:scroll;padding:4px; border:1 solid #000000;}
			#screen {height:200px;width:450px;overflow-x:hidden;overflow-y:hidden;overflow-y:scroll;padding:4px; border:1 solid #000000;}
			.screen_system {text-align:left;font-size:7px;background-color:#ffffff;}
			.guide_label {font-size:7px;background:#FFEC8B;}
			.guide_input {height:20px;width:20px;border:2;font-size:7px;background:#fffff;}
			#user_message {height:80px;width:460px;background:#0099ff;}
		</style>        
		<link href="/life/js/chart/examples.css" rel="stylesheet" type="text/css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="/life/js/chart/jquery.flot.js"></script>
		<script>
		    function request(){
		        var url = "/life/rest_object/bill_report";
		        $.ajax({
		            type:'POST',
		            url:url,
		            data:{param:$('#user_message').val(), userId:$("#user",parent.document).val(),userPwd:$("#userPwd",parent.document).val()},
		            //data:'param='+$('#user_message').val()+'&userId='+$("#user",parent.document).val()+'&userPwd='+encodeURIComponent($("#userPwd",parent.document).val()),
		            dataType:'json',
		            contentType: "application/json; charset=utf-8",
		            complete:function(){
		            	$('#user_message').val("");
		            	//$('#screen').animate({scrollTop:"+=100"},400);
		            },
		            success:function(data){
		            	if(data.status =="로그인실패"){
		            		alert("승인받고오세요");
		            		window.top.location.href="http://61.250.201.202:9423/life/index.html";
		            		return;
		            	}
		            	
		            	var description = data.description;
		            	var content = data.content;
		            	var summary = data.summary;
		            	
		            	if(summary === undefined){
		            		$('#report_chart').empty();
		            	}else{
		            		var chartdata = JSON.parse(summary);
			            	build_chart(chartdata);	
		            	}
		            	
		            	if(content === undefined){
		            		$('#screen').empty();
		            	}else{
		            		var jsondata = JSON.parse(content);
		            		$('#screen').empty();
		            		jQuery.each(jsondata,function(index,item){
		            			guide(item);	
		            		});	
		            	}
		            	
		            	
		            	
		            	if(description == null){
		            		description = "";
		                }
		            	$('#guide_text').empty();
		            	$('#guide_text').append("<label class='guide_label'>"+description+"</label></p>");
		            	$('#user_message').val("");
		            	//$('#screen').animate({scrollTop:"+=100"},400);
		            }
		        });
		    }
		    
		    function build_chart(data){
		    	var options = {
						lines: {
							show: true
						},
						points: {
							show: true
						},
						xaxis: {
							tickDecimals: 0,
							tickSize: 1,
							min:0,
							max:12
						},
						yaxis: {
							tickDecimals: 0,
							tickSize: 1,
							min:0
						}
						
				};
				
				var chart_data = [];
				jQuery.each(data,function(index,item){
					var data = [];
					for (var i = 0; i < 13; i += 1) {
						
						var month = 0;
						jQuery.each(item,function(index,itemDetail){
							month = parseInt(index);
							var count = parseInt(itemDetail);
							
							if(month == i){
								data.push([i,count]);		
							}
						});
						if(month == 0){
							data.push([i,0]);
						}
					}
					chart_data.push({label:index,data:data});
					//chart_data.push({data:data});
		    	});
				
				$.plot("#report_chart", chart_data,options);
				//$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
				
		    }
		    
		    function guide(data){
		    	
		    	var count = 0;
		    	$('#screen').append("<table border='3' align='center' style='border-collapse:collapse; border:1px gray solid;'>");
		    	$('#screen').append("<tr>");
		    	
		    	jQuery.each(data,function(index,item){
		    		jQuery.each(item,function(index,itemDtail){
		    			$('#screen').append("<td class='screen_system'>"+itemDtail.mapping +"</td>");
		    		});
		    		return false;
		    	});
		    	$('#screen').append("</tr>");
		    	
		    	
				
		    	jQuery.each(data,function(index,item){
		    		$('#screen').append("<tr>");
		    		jQuery.each(item,function(index,itemDtail){
		    			$('#screen').append("<td class='screen_system'>"+itemDtail.value +"</td>");
		    		});
		    		$('#screen').append("</tr>");
		    	});
		    	
		    	$('#screen').append("</table>");
		    }
		    
		    $(document).ready(function(){
		        $('#user_message').on('keypress',function(e){
		            if(e.which == 13){
		                request();
		            }
		        });
		        
		        
		    });
		    
		</script>
</head>
<body>
<div id="report_chart" class="demo-placeholder"></div>
<div id="screen" name="screen"></div>
<textarea id="user_message" cols="50"></textarea>
<div id="guide_text" name="guide_text"></div>
<div id="footer">
	Copyright &copy; 2007 - 2013 IOLA and Ole Laursen
</div>
</body>

</html>