p.clsNotice
{
  border: 1px solid #cccccc;
  font-size: 9pt;
}

input
{
  font-size: 9pt;
}

ul li
{
  margin-left: -15px;
}

a
{
  text-decoration: none;
  color: black;
}

input.inputText
{
  border: 1px solid gray;
}

.cls100PercentTbl
{
  padding: 0;
  border-spacing: 0;
  border: 2px solid gray;
  width: 100%;
}

.cls100PercentTbl td, .cls100PercentTbl th
{
  font-family: tahoma;
  color: black;
  font-size: 9pt;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 3px;
}

.cls100PercentTbl thead th
{
  background: #e5e5e5;
  font-weight: bold;
}

.cls100PercentTbl td.clsTbGrayHeader
{
  background-color: #e5e5e5;
  font-weight: bold;
}

.cls100PercentNoBorderTbl
{
  padding: 0;
  border-spacing: 0;
  width: 100%;
}

td.clsCurrentMenu
{
  background-color: #fcdf6c;
}

span.clsRed, td.clsRed
{
  color: red;
}

ul.clsComment li
{
  text-align: left;
}

.cls100PercentTbl1px
{
  padding: 0;
  border-spacing: 0;
  border: 1px solid gray;
  width: 100%;
}

.cls100PercentTbl1px td, .cls100PercentTbl1px th
{
  border-width: 0;
  padding: 3px;
}

.cls100PercentTbl1px thead th
{
  background: #e5e5e5;
  font-weight: bold;
}

.cls100PercentTbl0px
{
  padding: 0;
  border-spacing: 0;
  border: 0;
  width: 100%;
}

.cls100PercentTbl0px td, .cls100PercentTbl0px th
{
  border-width: 0;
  padding: 3px;
}

td.clsTdHeader
{
  text-align: center;
  font-weight: bold;
  background-color: #cccccc;
}